{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% blocktrans %}Bilingual Corporation{% endblocktrans %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <!-- Favicons --> 
  <link href="{% static 'landingpage/img/favicon.png' %}" rel="icon">
  <link href="{% static 'landingpage/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files --> 
  <link href="{% static 'landingpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  

  <!-- Template Main CSS File -->
  <link href="{% static 'landingpage/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/css/all.min.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<!-- ======= Top Bar ======= -->
<div class="topbar d-flex justify-content-between align-items-center">
  <div class="left-icons d-flex align-items-center">
    <div class="icon">
      <a href="tel:+17865564858" class="d-flex align-items-center">
        <i class="bi bi-telephone"></i>
        <span>+1 (786) 556-4858</span>
      </a>
    </div>
    <div class="icon mx-3">
      <a href="mailto:file@nickletranslations.com" class="d-flex align-items-center">
        <i class="bi bi-envelope"></i>
        <span>file@nickletranslations.com</span>
      </a>
    </div>
    <div class="icon mx-3">
      <a href="https://wa.me/+17865564858" class="d-flex align-items-center" target="_blank">
        <i class="bi bi-whatsapp"></i>
        <span>+1 (786) 556-4858</span>
      </a>
    </div>
    <div class="icon mx-3">
      <a href="skype:markcohen305?chat" class="d-flex align-items-center">
        <i class="bi bi-skype"></i>
        <span>markcohen305</span>
      </a>
    </div>
  </div>
  <div class="right-icon">
    <i class="bi bi-clock"></i>
    <span>{% blocktrans %}Horario{% endblocktrans %}: 24/7/365</span>
  </div>
</div>
<!-- End Top Bar -->



    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="">Bilingual Corporation</a>
      </h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{% blocktrans %}Inicio{% endblocktrans %}</a></li>
          <li><a class="nav-link scrollto" href="#about">{% blocktrans %}Acerca{% endblocktrans %}</a></li>
          <li class="dropdown"><a class="nav-link scrollto" href="#services"><span>{% blocktrans %}Servicios{% endblocktrans %}</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Traducción Certificada y Notariada{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Interpretación USCIS y en la Corte Civi{% endblocktrans %}l</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Interpretación por Teléfono y en Persona{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Traducción de Documentos Técnicos y Comerciales{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Traducción de Documentos Personales{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Localización de Sitios Web y Contenidos Digitales{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Traducción y Edición de Textos Creativos{% endblocktrans %}</a></li>
            <li><a href="#services" class="dropdown-item">{% blocktrans %}Servicios de Revisión y Corrección de Estilo{% endblocktrans %}</a></li>
            <li><a href="#free-services" class="dropdown-item">{% blocktrans %}Servicios Gratuitos{% endblocktrans %}</a></li>
          </ul>
          </li>
          <li><a class="nav-link scrollto" href="#proceso">{% blocktrans %}Proceso{% endblocktrans %}</a></li>
          <li><a class="nav-link scrollto" href="#team">{% blocktrans %}Equipo{% endblocktrans %}</a></li>
          <li><a class="nav-link scrollto" href="#document">{% blocktrans %}Contacto{% endblocktrans %}</a></li>
          
          

        <form id="language-form" method="post" action="{% url 'set_language' %}" class="language-form">
          {% csrf_token %}
          <a><label for="language-select" aria-label="{% blocktrans %}Seleccionar idioma{% endblocktrans %}"><span style="display: inline-block; font-size: 24px; color: #ffffff; background: transparent;"><div class="icon mx-6">
            <i class="bi bi-translate"></i>
            
          </div></span></label>
          <select name="language" id="language-select" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ lang.1 }} ({{ lang.0 }})
                </option>
            {% endfor %}
          </select></a>
        
      </form>
      


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">

      <div class="row">

        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          
           <h1>{% blocktrans %}Traducciones Profesionales Certificadas y Notariadas{% endblocktrans %}</h1>
           <h2>{% blocktrans %}Envíanos tus documentos Ya! Servicio de Alta Calidad, Rápido y Precios Bajos{% endblocktrans %}</h2>
          
           <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#document" class="btn-enviar scrollto">{% blocktrans %}Enviar Documentos{% endblocktrans %}</a>
            <a href="https://www.youtube.com/" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>{% blocktrans %}Ver Video{% endblocktrans %}</span></a>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'landingpage/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>

      

      </div>
    </div>
  </section>
  

<!-- End Hero -->



  <main id="main">

   
    <!-- ======= Acerca de Nosotros ======= -->
    <section class="about" id="about">
      <div class="img"></div><br>
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% blocktrans %}Acerca de nosotros{% endblocktrans %}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>{% blocktrans %}Somos un equipo apasionado de profesionales dedicados 
              a ofrecer servicios de traducción e interpretación de la más alta calidad. Fundada en 2001, nuestra 
              empresa se ha establecido como líder en la industria gracias a nuestro compromiso con la precisión, 
              la confidencialidad y el servicio al cliente. Contamos con más de 30 traductores, editores y correctores 
              especializados en diversas áreas:{% endblocktrans %}
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> {% blocktrans %}Legal.{% endblocktrans %}</li>
              <li><i class="ri-check-double-line"></i> {% blocktrans %}Técnica.{% endblocktrans %}</li>
              <li><i class="ri-check-double-line"></i> {% blocktrans %}Médica.{% endblocktrans %}</li>
            </ul>
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              {% blocktrans %}Nuestro equipo está formado por profesionales bilingües y biculturales que comprenden la terminología 
              y los matices específicos de cada idioma.Desde nuestro inicio, nos hemos comprometido a ofrecer trabajos de alta calidad 
              a precios competitivos. Nos enorgullecemos de nuestra capacidad para entregar resultados rápidos sin comprometer la precisión.
              Además, garantizamos la satisfacción total de nuestros clientes con nuestra política de reembolso del 100%.{% endblocktrans %}
            </p>
            <a href="#why-us" class="btn-learn-more">{% blocktrans %}Conócenos Más{% endblocktrans %}</a>
          </div>
        </div>

      </div>
    </section><!-- Acerca de Nosotros -->

   

    <!-- ======= Servicios Ofrecidos ======= -->
    <section class="services section-bg" id="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% blocktrans %}Servicios ofrecidos{% endblocktrans %}</h2>
          <p>{% blocktrans %}Nos especializamos en proporcionar una amplia gama de servicios de traducción e interpretación diseñados 
            para satisfacer tus necesidades. Nuestro equipo de profesionales altamente cualificados está 
            aquí para garantizar que tu comunicación sea clara, precisa y efectiva en cualquier contexto.{% endblocktrans %}</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#document">{% blocktrans %} Traducción Certificada y Notariada{% endblocktrans %}</a></h4>
                <p>{% blocktrans %}Ofrecemos traducciones certificadas y notariadas para documentos oficiales que requieren validez legal. Ideal para trámites de inmigración, procedimientos judiciales y otros usos formales.{% endblocktrans %}</p>
                <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} A partir de {% endblocktrans %}<strong>$7.49</strong>{% blocktrans %} por documento, con descuentos disponibles para grandes volúmenes.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#document">{% blocktrans %}Traducción de Documentos Personales{% endblocktrans %}</a></h4>
              <p>{% blocktrans %}Traducimos documentos personales como certificados de nacimiento, diplomas académicos, informes médicos y más. Ofrecemos traducciones precisas y certificadas para trámites personales y oficiales.{% endblocktrans %}</p>
              <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} A partir de {% endblocktrans %}<strong>$7.49</strong>{% blocktrans %}por documento.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#document">{% blocktrans %} Traducción de Documentos Técnicos y Comerciales{% endblocktrans %}</a></h4>
                <p>{% blocktrans %} Especializados en la traducción de manuales técnicos, informes, contratos, folletos y otros documentos comerciales. Aseguramos la precisión en la terminología técnica y comercial.{% endblocktrans %}</p>
                <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} Desde {% endblocktrans %}<strong>1¢</strong>{% blocktrans %}por palabra, con descuentos disponibles para grandes volúmenes.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="700">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#document">{% blocktrans %}Traducción y Edición de Textos Creativos{% endblocktrans %}</a></h4>
              <p>{% blocktrans %} Ofrecemos servicios de traducción y edición para textos creativos como novelas, guiones, y artículos. Nos aseguramos de mantener el estilo y la intención original mientras adaptamos el contenido a la lengua de destino.{% endblocktrans %}</p>
              <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} Cotización personalizada según el proyecto.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#document">{% blocktrans %}Interpretación USCIS y en la Corte Civil{% endblocktrans %}</a></h4>
              <p>{% blocktrans %}Proporcionamos servicios de interpretación para procedimientos de USCIS y audiencias en la corte, con opciones disponibles tanto por teléfono como en sitio. Nuestros intérpretes están capacitados para manejar situaciones legales complejas con profesionalismo.{% endblocktrans %}</p>
                <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} Desde {% endblocktrans %}<strong>$49</strong></p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-telephone"></i></div>
              <h4><a href="#document">{% blocktrans %}Interpretación por Teléfono y en Persona{% endblocktrans %}</a></h4>
              <p>{% blocktrans %}Ofrecemos servicios de interpretación por teléfono y en persona para una variedad de situaciones, incluyendo conferencias, ferias, mediaciones y más. Nuestro equipo está disponible para atender tus necesidades de interpretación en cualquier momento.{% endblocktrans %}</p>
                <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} A partir de {% endblocktrans %}<strong>$20</strong>{% blocktrans %} por hora para interpretación telefónica.{% endblocktrans %}</p>
            </div>
          </div>

          
          
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4><a href="#document">{% blocktrans %}Localización de Sitios Web y Contenidos Digitales{% endblocktrans %}</a></h4>
              <p>{% blocktrans %}Ayudamos a las empresas a adaptar su contenido digital y sitios web para audiencias internacionales. Nuestra localización asegura que el contenido sea culturalmente relevante y lingüísticamente preciso.{% endblocktrans %}</p>
                <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} Cotización personalizada según el proyecto.{% endblocktrans %}</p>
            </div>
          </div>
          
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="800">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-help-circle"></i></div>
              <h4><a href="#document">{% blocktrans %} Servicios de Revisión y Corrección de Estilo{% endblocktrans %}</a></h4>
              <p>{% blocktrans %}Realizamos revisiones y correcciones para asegurar que tus documentos estén libres de errores y sean claros y coherentes. Nuestros servicios incluyen corrección de estilo y revisión final.{% endblocktrans %}</p>
              <p><strong>{% blocktrans %}Precio:{% endblocktrans %}</strong>{% blocktrans %} Cotización personalizada según el proyecto.{% endblocktrans %}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Servicios Ofrecidos -->



    <!-- ======= Enviar Documentos o Contactarnos ======= -->
 <section id="document" class="document section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% blocktrans %}Enviar Documento o Contactarnos{% endblocktrans %}</h2>
      <p>{% blocktrans %}Envía tus documentos de manera segura y fácil. Nuestro equipo está listo para ayudarte en todo lo que necesites.{% endblocktrans %}</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">  
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>1825 Ponce de León,<br>
               Coral Gables, FL 33134,<br>
               {% blocktrans %}Estados Unidos{% endblocktrans %}</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>files@nickeltranslations.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>{% blocktrans %}Llama: {% endblocktrans %}</h4>
            <p>+1 (786) 556-4858</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345087284!2d-80.261202!3d25.7554351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b79935804c43:0x62b9b770b0ace6d8!2s1825+Ponce+de+Leon,+Coral+Gables,+FL+33134!5e0!3m2!1sen!2sus!4v1632967282912" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

        <form action="{% url 'enviar_correo' %}" method="POST"  class="email-form" enctype="multipart/form-data">
          <h4>{% blocktrans %}Enviar Documento o Contáctanos{% endblocktrans %}</h4>
          <div class="row">
            {% csrf_token %}
            <div class="form-group col-md-6">
              <label for="name">{% blocktrans %}Su Nombre{% endblocktrans %}</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="email">{% blocktrans %}Su Email{% endblocktrans %}</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="subject">{% blocktrans %}Asunto{% endblocktrans %}</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="message">{% blocktrans %}Mensaje{% endblocktrans %}</label>
            <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="document">{% blocktrans %}Adjuntar Documento{% endblocktrans %}</label>
            <input type="file" class="form-control" name="document" id="document">
          </div>
          <div class="my-3">
            <div class="loading">{% blocktrans %}Cargando{% endblocktrans %}</div>
            
            <div class="error-message"></div>
            
            <div class="sent-message"></div>
            
          </div>
          <div class="text-center"><button type="submit" name="enviar" id="enviar" value="Enviar">{% blocktrans %}Enviar{% endblocktrans %}</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Enviar Documentos o Contactarnos -->




<!-- ======= Proceso de traducción ======= -->    
<section id="proceso" class="proceso section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% blocktrans %}Proceso de Traducción{% endblocktrans %}</h2>
      <p>{% blocktrans %}Nos esforzamos por hacer que el proceso de solicitar y recibir nuestros servicios sea lo más sencillo y eficiente posible. A continuación, te presentamos los pasos a seguir para obtener tus traducciones e interpretaciones de manera rápida y efectiva:{% endblocktrans %}</p>
    </div>

    <div class="timeline">

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-1-circle"></i>. {% blocktrans %}Envío de Documentos{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Envía tus documentos a través de nuestros canales de comunicación:{% endblocktrans %}</p>
        <ul>
          <li><strong>Correo Electrónico:</strong> files@nickeltranslations.com</li>
          <li><strong>WhatsApp:</strong> +1 (786) 556-4858</li>
          <li><strong>{% blocktrans %}Formulario en Línea:{% endblocktrans %}</strong> NickelTranslations.com</li>
        </ul>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-2-circle"></i>. {% blocktrans %}Recepción de Cotización{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Revisaremos tu solicitud y te enviaremos una cotización detallada sin compromiso.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Tiempo de Respuesta:{% endblocktrans %}</strong> {% blocktrans %}Generalmente, recibirás tu cotización en unos minutos.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-3-circle"></i>. {% blocktrans %}Confirmación y Pago{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Una vez aceptes la cotización, confirmaremos los detalles del proyecto y te proporcionaremos opciones de pago.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Cómo Pagar:{% endblocktrans %}</strong> {% blocktrans %}A través de nuestro portal seguro con Zelle, Visa, Mastercard, Amex, Discover o PayPal.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-4-circle"></i>. {% blocktrans %}Ejecución del Proyecto{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Nuestro equipo de traductores e intérpretes comenzará a trabajar en tu proyecto según lo acordado.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Comunicación:{% endblocktrans %}</strong> {% blocktrans %}Mantendremos contacto continuo para cualquier actualización.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-5-circle"></i>. {% blocktrans %}Entrega de Documentos{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Una vez completada la traducción, te enviaremos los documentos listos para imprimir.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Formato:{% endblocktrans %}</strong> {% blocktrans %}Recibirás los documentos en PDF o el formato acordado.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-6-circle"></i>. {% blocktrans %}Revisión y Feedback{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Revisa los documentos entregados y proporciónanos tu feedback.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Correcciones:{% endblocktrans %}</strong> {% blocktrans %}Si necesitas ajustes, contáctanos para realizar las modificaciones.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-7-circle"></i>. {% blocktrans %}Soporte Continuo{% endblocktrans %}</div></h4>
        <p>{% blocktrans %}Ofrecemos soporte para cualquier pregunta adicional o para futuros proyectos.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Cómo Contactarnos:{% endblocktrans %}</strong> {% blocktrans %}Llámanos al +1 (786) 556-4858 o envía un correo a files@nickeltranslations.com.{% endblocktrans %}</p>
      </div>

      <div class="timeline-item">
        <h4><div class="icon"><i class="bi bi-8-circle"></i>. {% blocktrans %}Notas Adicionales{% endblocktrans %}</div></h4>
        <p><strong>{% blocktrans %}Tiempo de Entrega:{% endblocktrans %}</strong> {% blocktrans %}Varía según la longitud y complejidad del proyecto.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Confidencialidad:{% endblocktrans %}</strong> {% blocktrans %}Mantenemos estrictas normas de confidencialidad para proteger tu información.{% endblocktrans %}</p>
      </div>

    </div>
  
    <div class="timeline-visualization">
      <p>[ {% blocktrans %}Envío{% endblocktrans %} ] ---> [ {% blocktrans %}Cotización{% endblocktrans %} ] ---> [ {% blocktrans %}Pago{% endblocktrans %} ] ---> [ {% blocktrans %}Ejecución{% endblocktrans %} ] ---> [ {% blocktrans %}Entrega{% endblocktrans %} ] ---> [ {% blocktrans %}Revisión{% endblocktrans %} ] ---> [ {% blocktrans %}Soporte{% endblocktrans %} ]</p>
    </div>
  </div>
  
</section>
 
<!-- ======= End Proceso de traducción ======= --> 








<!-- ======= Sección Elegir ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          <h3>{% blocktrans %}Todos eligen a {% endblocktrans %}<strong>{% blocktrans %}Bilingual Corporation{% endblocktrans %}</strong></h3>
          <p>
            {% blocktrans %}Elegirnos, significa optar por un servicio confiable y eficiente. Estamos disponibles 
            las 24 horas del día, los 7 días de la semana, para atender tus necesidades de traducción e interpretación. Nos dedicamos 
            a superar tus expectativas con un servicio al cliente excepcional y soluciones a la medida.{% endblocktrans %}
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>{% blocktrans %}Experiencia Multidisciplinaria{% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                
                  <p>{% blocktrans %}Nuestros traductores e intérpretes poseen experiencia en diversos campos, lo que nos permite ofrecer servicios especializados en áreas clave, tales como:{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Legal:{% endblocktrans %}</strong>{% blocktrans %} Nuestros expertos en traducción legal comprenden la terminología y los procedimientos judiciales, asegurando traducciones precisas para documentos legales, procedimientos en la corte y servicios de interpretación para casos legales.{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Médico:{% endblocktrans %}</strong>{% blocktrans %} Contamos con profesionales capacitados en terminología médica y procedimientos clínicos, garantizando traducciones precisas para informes médicos, historias clínicas y documentación relacionada con la salud.{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Técnico:{% endblocktrans %}</strong>{% blocktrans %} Nuestros traductores técnicos están familiarizados con la terminología y los estándares de la industria, capaces de traducir manuales técnicos, especificaciones y documentación de ingeniería con precisión.{% endblocktrans %}</p>
                
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>{% blocktrans %}Competencias Lingüísticas Avanzadas{% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">

                  <p>{% blocktrans %}Nuestro equipo está formado por profesionales bilingües y biculturales que no solo dominan los idiomas de trabajo, sino que también entienden las sutilezas culturales. Esto les permite:{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Captar Matices Culturales: {% endblocktrans %}</strong>{% blocktrans %} Interpretar y traducir con precisión los matices culturales y contextuales, asegurando que el mensaje sea claro y adecuado para la audiencia objetivo.{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Adaptar el Estilo de Comunicación: {% endblocktrans %}</strong>{% blocktrans %} Ajustar el estilo y el tono de la traducción o interpretación para que se alinee con el propósito del documento o la situación comunicativa.{% endblocktrans %}</p>
                
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>{% blocktrans %} Habilidades de Comunicación Efectiva{% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
               
                  <p>{% blocktrans %}La comunicación efectiva es clave en nuestro trabajo, y nuestro equipo se destaca en:{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Claridad y Precisión:{% endblocktrans %}</strong>{% blocktrans %} Garantizamos que cada traducción e interpretación sea clara y precisa, evitando malentendidos y asegurando que la información se transmita correctamente.{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Confidencialidad y Ética Profesional:{% endblocktrans %}</strong>{% blocktrans %} Mantenemos altos estándares de confidencialidad y ética profesional en todos los proyectos, protegiendo la privacidad y la integridad de la información de nuestros clientes.{% endblocktrans %}</p>
                
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span>{% blocktrans %}Capacidades de Gestión de Proyectos{% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                
                  <p>{% blocktrans %}Para asegurar la entrega oportuna y eficiente de nuestros servicios, nuestro equipo también posee habilidades en:{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Gestión de Proyectos:{% endblocktrans %}</strong>{% blocktrans %} Coordinamos y gestionamos proyectos complejos con múltiples documentos y plazos ajustados, asegurando que cada etapa del proceso se maneje de manera eficiente y organizada.{% endblocktrans %}</p>
                  <p><strong>{% blocktrans %}Adaptabilidad:{% endblocktrans %}</strong>{% blocktrans %} Nos ajustamos a las necesidades cambiantes de nuestros clientes y a las especificaciones de cada proyecto, proporcionando soluciones flexibles y efectivas.{% endblocktrans %}</p>
                
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span>05</span>{% blocktrans %}Compromiso con la Calidad{% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                
                  <p>{% blocktrans %}Cada miembro de nuestro equipo está comprometido con la excelencia y la satisfacción del cliente. Realizamos revisiones rigurosas y controles de calidad para garantizar que cada traducción e interpretación cumpla con nuestros altos estándares.{% endblocktrans %}</p>
                
              </div>
            </li>

          </ul>
        </div>

      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" data-aos="zoom-in" data-aos-delay="150"><img src="{% static 'landingpage/img/elegir.webp' %}" class="img-fluid animated" alt="">&nbsp;</div>
      
    </div>

  </div>
</section><!-- End Elegir -->




 





     









<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% blocktrans %}Equipo{% endblocktrans %}</h2>
      <p>{% blocktrans %}Equipo de trabajo con profesionales
        expertos nacionales y de otros países los
        cuales se convocan de acuerdo con los
        intereses de los clientes{% endblocktrans %}</p>
    </div>

    <div class="row">

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="{% static 'landingpage/img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Mark Cohen</h4>
            <span>{% blocktrans %}Director Ejecutivo{% endblocktrans %}</span>
            <p>{% blocktrans %}Cada palabra cuenta, cada detalle importa{% endblocktrans %}</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="{% static 'landingpage/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>{% blocktrans %}Gerente de Producto{% endblocktrans %}</span>
            <p>{% blocktrans %}La vida te porndrá obstáculos, los limites los pones tú.{% endblocktrans %}</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="{% static 'landingpage/img/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>{% blocktrans %}Director de Tecnología{% endblocktrans %}</span>
            <p>{% blocktrans %}La disciplina es la parte más importante del éxito{% endblocktrans %}</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="{% static 'landingpage/img/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>{% blocktrans %}Contador{% endblocktrans %}</span>
            <p>{% blocktrans %}Inténtalo una y otra vez. Hasta que el miedo, te tenga miedo.{% endblocktrans %}</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->


    

  




    <!-- ======= Servicios Gratuitos ======= -->
<section id="free-services" class="free-services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% blocktrans %}Servicios Gratuitos{% endblocktrans %}</h2>
      <p>{% blocktrans %}En BilinguaL Corporation, nos comprometemos a brindarte la mejor experiencia posible. Por eso, ofrecemos una variedad de servicios gratuitos para que puedas conocer la calidad de nuestro trabajo antes de decidirte.{% endblocktrans %}</p>
    </div>

    <div class="service-list">
      <ul>
        <li data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
          <h4><i class="bx bx-check-circle icon-check"></i>
          <a href="#document">{% blocktrans %}Cotización Sin Compromiso{% endblocktrans %}</a></h4>
          <p>{% blocktrans %}Recibe una cotización gratuita y sin compromiso para tu proyecto de traducción o interpretación. Simplemente envía tus documentos o detalles, y te proporcionaremos un presupuesto detallado.{% endblocktrans %}</p>
        </div>
      </li>

        <li data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
          <h4><i class="bx bx-check-circle icon-check"></i>
          <a href="#document">{% blocktrans %}Consulta Inicial Gratuita{% endblocktrans %}</a></h4>
          <p>{% blocktrans %}Proporcionamos una consulta inicial gratuita para discutir tus necesidades y ofrecerte recomendaciones sobre el mejor enfoque para tu proyecto.{% endblocktrans %}</p>
        </div>
      </li>

        <li data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
          <h4><i class="bx bx-check-circle icon-check"></i>
          <a href="#document">{% blocktrans %}Revisión de Traducción Gratuita{% endblocktrans %}</a></h4>
          <p>{% blocktrans %}Ofrecemos una revisión gratuita de la primera página de tu documento para demostrar la calidad de nuestro trabajo y asegurarnos de que cumplimos con tus expectativas.{% endblocktrans %}</p>
        </div>
      </li>

        <li data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
          <h4><i class="bx bx-check-circle icon-check"></i>
          <a href="#document">{% blocktrans %}Prueba de Interpretación Gratuita{% endblocktrans %}</a></h4>
          <p>{% blocktrans %}Proporcionamos una breve prueba de interpretación gratuita para eventos o reuniones, para que puedas experimentar la calidad de nuestro servicio antes de reservar una sesión completa.{% endblocktrans %}</p>
        </div>
      </li>
      </ul>
    </div>

  </div>
</section>
<!-- End Servicios GratuitosS-->



 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="row align-items-center">
      <div class="col-lg-8 text-center text-lg-start">
        <h3>{% blocktrans %}Traduce tus Documentos con calida, rápido y barato{% endblocktrans %}</h3>
        <p>{% blocktrans %}En Bilingual Corporation, transformamos la complejidad del lenguaje en claridad. Ya sea para documentos legales, interpretaciones médicas o traducciones técnicas, nuestro equipo de expertos está listo para ayudarte a alcanzar tus objetivos. Porque cada palabra cuenta, cada detalle importa.{% endblocktrans %}</p>
      </div>
      <div class="col-lg-4 cta-btn-container text-center">
        <a href="#document" class="cta-btn">{% blocktrans %}Traduce tus Documentos{% endblocktrans %}</a>
      </div>
    </div>

  </div>
</section>
<!-- ======= End Cta Section ======= -->


    <!-- ======= Preguntas Frequentes ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% blocktrans %}PREGUNTAS FRECUENTES{% endblocktrans %}</h2>
      <p>{% blocktrans %}Resolvemos las dudas más comunes sobre nuestros servicios de traducción e interpretación. Si tienes alguna pregunta adicional, no dudes en contactarnos.{% endblocktrans %}</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> 
          <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">{% blocktrans %}¿Qué tipo de traducciones ofrecen?{% endblocktrans %} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              {% blocktrans %}Ofrecemos traducciones certificadas, notarizadas, técnicas, comerciales y de documentos personales. También realizamos localización de sitios web y textos creativos.{% endblocktrans %}
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> 
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">{% blocktrans %}¿Cómo se garantiza la calidad de sus traducciones? {% endblocktrans %}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              {% blocktrans %}Estamos certificados bajo normas ISO 17100, ISO 9001 y ISO/IEC 27001. Esto asegura que nuestros traductores estén calificados y que se mantengan altos estándares de calidad y confidencialidad en cada proyecto.{% endblocktrans %}
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> 
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">{% blocktrans %}¿Ofrecen servicios de interpretación en eventos?{% endblocktrans %} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              {% blocktrans %}Sí, ofrecemos interpretación en tiempo real para eventos en vivo, incluyendo conferencias y seminarios. Nuestros intérpretes se asegurarán de que todos los participantes comprendan el contenido sin barreras lingüísticas.{% endblocktrans %}
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> 
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">{% blocktrans %}¿Cuál es el proceso para solicitar una traducción?{% endblocktrans %} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              {% blocktrans %}Simplemente envía tus documentos a nuestro correo electrónico o por WhatsApp. Te proporcionaremos una cotización sin compromiso y, una vez que aceptes, comenzaremos a trabajar en tu proyecto.{% endblocktrans %}
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> 
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">{% blocktrans %}¿Ofrecen descuentos por volumen?{% endblocktrans %} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              {% blocktrans %}Sí, ofrecemos descuentos para grandes volúmenes de traducción e interpretación. Contáctanos para obtener una cotización personalizada.{% endblocktrans %}
            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->


   

  </main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Bilingual Corporation</h3>
          <p>
            {% blocktrans %}1825 Ponce de León,{% endblocktrans %}<br>
            {% blocktrans %}Coral Gables, FL 33134,{% endblocktrans %}<br>
            {% blocktrans %}Estados Unidos{% endblocktrans %} <br><br>
            <strong>{% blocktrans %}Teléfono:{% endblocktrans %}</strong> +1 (786) 556-4858<br>
            <strong>Email:</strong><a href="mailto:files@nickeltranslations.com"> files@nickeltranslations.com</a><br>
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{% blocktrans %}Enlaces de Interés{% endblocktrans %}</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{% blocktrans %}Inicio{% endblocktrans %}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.alignable.com/coral-gables-fl/bilingual-corporation">alignable.com</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.dnb.com/business-directory/company-profiles.bilingual_corporation.b161eb5392919134b3f9be7cbeac9942.html">dnb.com</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'terminosdeservicio' %}">{% blocktrans %}Términos de Servicio{% endblocktrans %}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'politicadeprivacidad' %}">{% blocktrans %}Políticas de Privacidad{% endblocktrans %}</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{% blocktrans %}Nuestros Servicios{% endblocktrans %}</h4>
          <ul>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Traducción Certificada y Notariada{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Interpretación USCIS y en la Corte Civil{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Interpretación por Teléfono y en Persona{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Traducción de Documentos Técnicos y Comerciales{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Traducción de Documentos Personales{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Localización de Sitios Web y Contenidos Digitales{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Traducción y Edición de Textos Creativos{% endblocktrans %}</a></li>
            <li><a href="#services" class="servicesfooter">{% blocktrans %}Servicios de Revisión y Corrección de Estilo{% endblocktrans %}</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{% blocktrans %}Nuestras Redes Sociales{% endblocktrans %}</h4>
          <p>{% blocktrans %}Puedes contactarno en nuestras redes sociales. Será un placer hablar contigo.{% endblocktrans %}</p>
          <div class="social-links mt-3">
            <a href="https://www.facebook.com/Marck Cohen" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://wa.me/+1 (786) 556-4858" class="WhatsApp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
            <a href="skype:markcohen305?chat" class="skype" target="_blank"><i class="bx bxl-skype"></i></a>

          </div>
        </div>
  
      </div>
    </div>
  </div>

  <div class="footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span class="color">Bilingual Corporation</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>


</footer><!-- End Footer -->












  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'landingpage/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'landingpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landingpage/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'landingpage/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'landingpage/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'landingpage/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'landingpage/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'landingpage/js/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'landingpage/js/main.js' %}"></script>
  
</body>

</html>
